.header {
    padding: 28px 0;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;

    .logo {
        scale: 0.8;
        transition-duration: 300ms;
    }

    @include media-breakpoint-down(lg) {
        padding: 20px 0;
    }

    &.fixed-header {
        padding: 20px 0;
        background-color: var(--bs-black);

        .header-wrapper {
            height: 50px;
        }

        .logo {
            scale: 0.5;
            transition-duration: 300ms;
        }

        .light-dark {
            color: var(--bs-dark) !important;
        }

    }

    .toggle-menu {
        transition-duration: 300ms;

        &[aria-expanded="false"] {
            .close {
                display: none;
            }

            .hamburger {
                display: block;
            }
        }

        &[aria-expanded="true"] {
            .hamburger {
                display: none;
            }

            .close {
                display: block;
            }
        }
    }

    .cart-badge {
        top: -3px;
        right: -3px;
    }

    .header-menu {
        .header-item {
            .header-link.active {
                border-left: 4px solid $primary;
                padding-left: 16px;
            }

            .header-link {
                &:hover {
                    // border-left: 4px solid $primary;
                    padding-left: 16px;
                    transition-duration: 300ms;
                }

                .animate-spin {
                    opacity: 0;
                    width: 0;
                }

                &:hover,
                &.active {
                    .animate-spin {
                        opacity: 1;
                        width: 20px;
                        margin-inline-end: 5px;
                    }
                }
            }
        }
    }

}

@media (max-width:576px) {
    .header {
        .header-wrapper {
            height: 60px;
            .logo {
                scale: 0.5 !important;
            }
        }
    }
}