.header {
    padding: 28px 0;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;

    .logo {
        scale: 1;
        transition-duration: 300ms;
    }

    @include media-breakpoint-down(lg) {
        padding: 20px 0;
    }

    &.fixed-header {
        padding: 20px 0;
        background-color: var(--bs-black);

        .logo {
            scale: 0.8;
            transition-duration: 300ms;
        }

        .light-dark {
            color: var(--bs-dark) !important;
        }

    }

    .toggle-menu {
        transition-duration: 300ms;
        &[aria-expanded="false"] {
            .close {
                display: none;
            }

            .hamburger {
                display: block;
            }
        }

        &[aria-expanded="true"] {
            .hamburger {
                display: none;
            }

            .close {
                display: block;
            }
        }

        .menu-icon {
            color: var(--bs-white) !important;
        }
    }

    .logo {
        .logo-dark {
            display: none;
        }
    }

    .header-menu {

        .header-item {
            .header-link {
                .animate-spin {
                    transition: 0.5s;
                }

                .animate-spin {
                    opacity: 0;
                    width: 0;
                }

                &:hover,
                &.active {
                    .animate-spin {
                        opacity: 1;
                        width: 20px;
                        margin-inline-end: 5px;
                    }
                }
            }
        }
    }

}