.banner-section {

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(180deg, rgba(11, 8, 8, 0) 42.33%, #0B0808 100%),
            linear-gradient(0deg, rgba(11, 8, 8, 0.6), rgba(11, 8, 8, 0.6));
    }
}

.accordion-button {
    background-color: var(--bs-black);
    color: white;

    &::after {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-position: center;
        background-size: inherit;
        background-image: url("../images/svgs/icon-plus.svg");
        background-color: #ffffff18;
    }

    &:not(.collapsed) {
        background-color: black;
        color: white;

        &::after {
            background-image: url("../images/svgs/icon-minus.svg");
            background-color: #ffffff18;
        }
    }

    &:not(.collapsed) {
        box-shadow: unset;
    }
}

.accordion-body {
    background-color: var(--bs-black);
}

.sign-in {
    max-width: 520px;
    width: 100%;
}

.testimonial-slider {
    .owl-stage-outer {
        .owl-stage {
            .owl-item {
                opacity: 30%;
            }

            .owl-item.center {
                opacity: 100%
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: -23%;
        right: 0;
        display: flex;
        gap: 24px;

        .owl-prev {
            font-size: 24px !important;
            color: white;

            span {
                padding: 8px 16px !important;
                background: #ffffff18 !important;
                border-radius: 999px;
            }
        }

        .owl-next {
            font-size: 24px !important;
            color: white;

            span {
                padding: 8px 16px !important;
                background: #ffffff18 !important;
                border-radius: 999px;
            }
        }
    }
}


.product-slider {
    .product-card {
        .product-image {
            position: relative;
            overflow: hidden;

            .view,
            .add-cart {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -100%;
                transition: bottom 300ms ease-in-out;
            }

            &:hover {
                .view {
                    bottom: 68px;
                }

                .add-cart {
                    bottom: 16px;
                }
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: -15%;
        right: 0;
        display: flex;
        gap: 24px;

        .owl-prev,
        .owl-next {
            font-size: 24px !important;
            color: white;

            span {
                padding: 8px 16px !important;
                background: #ffffff18 !important;
                border-radius: 999px;
            }
        }
    }
}

@media (max-width: 768px) {
    .product-slider {
        .owl-nav {
            top: -10%;
        }
    }
}
